<app-navigation></app-navigation>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 mainText">Welcome to GMS</h1>
      <p class="mainText"><b>GMS is a short expression for Gardening Management System. 
        This is an integrated solution program to provide ease
        of plant management with the environmental parameters such as temperature, humidity,
        and daily weather information.User can check the status on their web browser out and the
        system recommends an appropriate action as the situation. Therefore, this application helps
        people who are interested in the advanced management of gardening to monitor their plant
        more efficiently and flexibly. Moreover, this will be suitable for implementing and
        extending various programming language and network knowledge which we have learnt.</b></p>
      <p><a class="btn btn-primary btn-lg" href="/dashboard" role="button">Learn more &raquo;</a></p>
    </div>
</div>

  <!--Carousel Wrapper-->



  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Data Collection<br> (IoT) </h2>
        <p>IoT is used to gather the data from sensors in the
          garden and weather data from open weather
          server. To share the data from collection part,
          cloud-based database is used. </p>
        <p><a class="btn btn-secondary" href="./home/#secondSection" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Monitoring Server <br>(Web)</h2>
        <p>Each module are completely separated as the concept of MSA. This makes ease of maintenance and fault tolerance. 
          To show the current status to users and manage and analyze the data asthe purpose.</p>
        <p><a class="btn btn-secondary" href="./home/#thirdSection" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Recommendation <br>(ML)</h2>
        <p>Maching learning is used to give the proper response as the
          background data and situation. 
          The linear regression logic works with Tensorflow library on Python.</p>
        <p><a class="btn btn-secondary" href="./home/#fourthSection" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->


  <div class="container" >

      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn" id="firstSection">
  
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <img src="./assets/img/watering.png" class="img-fluid z-depth-1-half"
              alt="">
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
  
            <!-- Main heading -->
            <h3 class="h3 mb-3">What is GMS?</h3>
            <p><strong>Gardening Management System (GMS)</strong> is a system to notify the current status as alerts 
              and recommend the action through data analysis with source data, 
              which is about a variety of environment factors such as weather, temperature, humidity, and so on.</p>

            <hr>  
            <p>
                For monitoring system, we basically need to build the monitoring equipment with the sensors in the network. 
                This data is sent to a main server to display and guide properly it using machine learning to end user. 
                Finally, the main server filters more useful information to recommend and if neccessary, 
                the notification is automatically sent to the user.
            </p>

          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
      </section>
      <!--Section: Main info-->
  
      <hr class="my-5">
  
      <!--Section: Main features & Quick Start-->
      <section id="secondSection">
  
        <h3 class="h3 text-center mb-5">Sensor Data Collection</h3>
  
        <!--Grid row-->
        <div class="row wow fadeIn">
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">
  
            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-download fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Raspberry-Pi</h5>
                <p class="grey-text">Raspberry Pi server monitors the target and capture the source data and image via
                    the sensors.</p>
              </div>
            </div>
            <!--/First row-->
  
            <div style="height:30px"></div>
  
            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-download fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Sensors</h5>
                <p class="grey-text">
                  DHT (Temperature, Humidity sensor), PIR (motion sensor), and camera are required.
                  These are working on Raspberry Pi with Python.
                  <!-- <ul>
                    <li>DHT (Temperature, Humidity sensor)</li>
                    <li>PIR (motion sensor)</li>
                    <li>Camera</li>
                  </ul> -->
                </p>
              </div>
            </div>
            <!--/Second row-->
  
            <div style="height:30px"></div>
  
            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fa fa-download fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Firebase database and storage</h5>
                <p class="grey-text">Raspberry Pi server uploads the files and updates the data to database.
                  It is neccessary to use the interface between server and Firebase database and storage.</p>
              </div>
            </div>
            <!--/Third row-->
  
          </div>
          <!--/Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
            <img src="./assets/img/raspberry_pi.jpg" 
                class="z-depth-0 img-fluid">
            <!-- <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p> -->

            <!-- <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
            </div> -->
          </div>
          <!--/Grid column-->
  
        </div>
        <!--/Grid row-->
  
      </section>
      <!--Section: Main features & Quick Start-->
  
      <hr class="my-5">
  
      <!--Section: Not enough-->
      <section id="thirdSection">
  
        <h2 class="my-5 h3 text-center">Server Monitoring</h2>
  
        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">
  
          <!--First column-->
          <div class="col-md-4">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-desktop  fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Front-end: Angular 6</h6>
                <p class="grey-text">UX/UI handled by Angular framework. Typescript in Angular fetches the data
                    from the back-end via Restful API. These data send to the html page.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->
  
            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-desktop  fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Front-end: Bootstrap, Chart.js</h6>
                <p class="grey-text">An impressive collection of flexible components allows you to develop this project for rich UI.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->
  
            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-desktop  fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Weather information from the weather server</h6>
                <p class="grey-text">Easily check the weather using openAPI from external 
                    server and JSON handling. This factor affects on the recommendation. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->
  
            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-desktop  fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Notification</h6>
                <p class="grey-text">
                    This is triggered when the alert captured and send e-mail by the period.
                    </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/First column-->
  
          <!--Second column-->
          <div class="col-md-4 flex-center">
            <img src="./assets/img/computer_server4.png" 
              class="z-depth-0 img-fluid">
          </div>
          <!--/Second column-->
  
          <!--Third column-->
          <div class="col-md-4 mt-2">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle  fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Back-end: Spring Framework</h6>
                <p class="grey-text">Java based framework. The main server polls to get the data by the given interval.  
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->
  
            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle  fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Back-end: Apache Tomcat</h6>
                <p class="grey-text">This web server provides the persistent service for users. </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->
  
            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle  fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Back-end: Quartz</h6>
                <p class="grey-text">This is used to fetches the data from Firebase database by the given internal. e.g.,10,000ms</p>    
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->
  
            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fa fa-check-circle  fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Back-end: MySQL</h6>
                <p class="grey-text">This works with Spring Hibernate as on-premise store.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
            <div class="row">
                <div class="col-2">
                  <i class="fa fa-check-circle  fa-2x indigo-text"></i>
                </div>
                <div class="col-10">
                  <h6 class="feature-title">Back-end: Open API</h6>
                  <p class="grey-text">Back-end logic basically use Restful API and extend to other application as well.</p>
                  <div style="height:15px"></div>
                </div>
              </div>            
          </div>
          <!--/Third column-->
  
        </div>
        <!--/First row-->
  
      </section>
      <!--Section: Not enough-->
  
      <hr class="mb-5">
  


    <!-- <hr class="my-5"> -->

    <section id="fourthSection">

      <h3 class="h3 text-center mb-5">Recommendation</h3>
      <div class="row wow fadeIn">
        <div class="col-lg-6 col-md-12 px-4">
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-code fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Feedback for users</h5>
              <p class="grey-text">How long the plant should be exposed to sunshine with temperature of weather server data
                  The result is shown as Daily Summary on Dashboard.
              </p>                      
            </div>
          </div>
          <!-- <div style="height:30px"></div>
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-code  fa-2x blue-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title"></h5>
              <p class="grey-text"></p>
            </div>
          </div> -->
          <div style="height:30px"></div>
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fa fa-code  fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">Multi-value linear regression using Tensorflow </h5>
              <p class="grey-text">How much water needs for the plant related to the room temperature and humidity. 
                    The amount of water depends on the circumstance in Settings with this prediction factor. 
              </p>             
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <img src="./assets/img/monitoring_main.jpg" 
                class="z-depth-0 img-fluid">
        </div>
      </div>

    </section>
    <br/>
    <hr class="mb-5">


      <!--Section: More-->
      <section id="fifthSection">
  
        <h2 class="my-5 h3 text-center">Overall Layout</h2>
  
        <!--First row-->
        <div class="row features-small mt-5 wow fadeIn">
  
            <!-- <img id="layout" src="./assets/img/gms_architecture_gray.jpg" width="80%"/> -->
  
            <img id="myImg" src="./assets/img/gms_architecture_gray.jpg" 
                      width="80%"
                      alt="Gardening Management System Layout"/>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
            <p id="layout">* Click the image to enlarge</p>
        </div>
        <!--/Second row-->
  
      </section>
      <!--Section: More-->
  
    </div>