<div class="container">
<!--  <form class="form-signin">-->
<!--  <form name="form" #f="ngForm"-->
<!--        (ngSubmit)="f.form.valid && getUser()" novalidate class="form-signin">-->
<!--    <div class="text-center mb-4">-->
<!--      <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
<!--      <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>-->
<!--      <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>-->
<!--    </div>-->

<!--    <div class="form-label-group">-->
<!--      <input type="email" id="inputEmail" class="form-control" [(ngModel)]="userModel.email"-->
<!--             placeholder="Email address" required autofocus>-->
<!--      <label for="inputEmail">Email address</label>-->
<!--    </div>-->

<!--    <div class="form-label-group">-->
<!--      <input type="password" id="inputPassword" class="form-control" [(ngModel)]="userModel.password"-->
<!--             placeholder="Password" required>-->
<!--      <label for="inputPassword">Password</label>-->
<!--    </div>-->

<!--    <div class="checkbox mb-3">-->
<!--      <label>-->
<!--        <input type="checkbox" value="remember-me"> Remember me-->
<!--      </label>-->
<!--    </div>-->
<!--    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--    <h6 id="form_header" align="center">-->
<!--      If you are first time, <a routerLink="/userRegistration">Sign up</a>-->
<!--    </h6>-->
<!--    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019</p>-->
<!--  </form>-->


  <h4 id="form_header" align="center">Sign in</h4>
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f="ngForm"
            (ngSubmit)="f.form.valid && getUser()" novalidate class="feedback-form">
        <!-- Name -->
        <br/>
        <!-- Email -->
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text"
                 id="email"
                 class="form-control"
                 name="email"
                 [(ngModel)]="userModel.email"
                 placeholder="Your email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 id="password"
                 class="form-control"
                 name="password"
                 [(ngModel)]="userModel.password"
                 placeholder="Your password">
        </div>
        <br/>
        <div align="center">
          <button type="submit" class="btn btn-info">
            <i class="fa fa-sign-in"></i>
            <span> Sign in</span>
          </button>
        </div>
      </form>

    </div>
  </div>
  <br/>
  <h6 id="form_header" align="center">
  If you are first time, <a routerLink="/userRegistration">Sign up</a>
  </h6>
</div>
