.graph{
    width: 100%; 
    float: left; 
    margin-left: 0em; 
    margin-right: 0em;
    /* max-width: ; */
}

.card-main
{
    height: 25em;
    width: 45%; 
    float: left; 
    margin-right: 1em;
    margin-bottom: 1em;
}

.card-main:nth-of-type(3)
{
    clear: both;
    height: 100%;
    width: 91%;

    margin-bottom: 10em;
} 





