/*div#list{*/
/*  margin-left:auto;*/
/*  margin-right:auto;*/
/*}*/
.back-container{
  background-color: #eee;
}
#form_header{
  margin-bottom: 1em;
}

.table{
  width:100%;
}

#status{
  float: left;
}

th, td{
  text-align: center;
}

/*.card {*/
/*  position: relative;*/
/*  display: -ms-flexbox;*/
/*  display: flex;*/
/*  -ms-flex-direction: column;*/
/*  flex-direction: column;*/
/*  min-width: 0;*/
/*  word-wrap: break-word;*/
/*  background-color: #fff;*/
/*  background-clip: border-box;*/
/*  border: 1px solid rgba(0, 0, 0, .125);*/
/*  border-radius: .25rem;*/
/*}*/

/*.card {*/
/*  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);*/
/*  border: 0;*/
/*  font-weight: 400;*/
/*}*/

/*.card-body {*/
/*  -ms-flex: 1 1 auto;*/
/*  flex: 1 1 auto;*/
/*  padding: 1.25rem;*/
/*}*/

.card-main{
  width: 39em;
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
}

.card-main.weatherCard{
  height: 28.8em;
}

.card-main.motionCard
{
  clear: both;
}

.card-main.roomCard{
  margin-bottom: 10em;
}

.flex-container {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}


app-navigation{
  display: block;
}

table td, th{
  border: 1px solid #ddd;
  background-color: transparent;
  border-collapse: collapse;
  width: 3em;
}

.lastUpdated
{
  text-align: right;
}

