
  <div id="list">
    <h3 id="form_header" align="center">Dashboard</h3>
    <div class="containter offset-1">

      <h5>Weather Information</h5>
      <div>
        <ul>
          <li>Location: Vancouver, Canada</li>
          <li>Weather: {{weather}}, {{weatherDescription}}</li>
<!--          <li>Local Temperature: {{temp}}&#8451; ,from {{temp_min}} &#8451; to {{temp_max}}&#8451;</li>-->
          <li>Local Humidity: {{humidity}} %</li>
          <li>Local Pressure: {{pressure}} hpa</li>
          <li>Wind: {{wind}} m/s</li>
        </ul>

        <div align="left">
          <button (click)="getWeatherData()" >Get Weather Info</button>
        </div>
      </div>

      <br/>

      <div>
        <br/>
        <h5>Garden Status</h5>
        <br/>
        <h6>Recent Motion Detect Status</h6>
        <div>
          <table class="table table-striped">
<!--            <th>Number</th>-->
            <th>Alert</th>
            <th>Detect Time</th>
            <th>PIR ID</th>
            <tr>
<!--              <td>{{motionSensor.id}}</td>-->
              <td>{{motionSensor.alert}}</td>
              <td>{{motionSensor.detectTime}} </td>
              <td>{{motionSensor.pirId}} </td>
            </tr>

          </table>
        </div>
      </div>

      <div>
        <br/>
        <h6>Recent Room Status</h6>
        <div >
          <table class="table table-striped">
<!--              <th>Number</th>-->
              <th>Room Temperature</th>
              <th>Room Humidity</th>
              <th>Timestamp</th>

              <tr>
<!--                <td>{{sensor.id}}</td>-->
                <td>{{sensor.sensorTemp}} &#8451; </td>
                <td>{{sensor.sensorHumid}} %</td>
                <td>{{sensor.dateTime}} </td>
              </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

