.jumbotron{
    background-image: url('/assets/img/gms_main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.mainText{
    color: white;
    font-weight: 400;
}

#layout{
    margin-left: 10%;
    margin-right: 10%;
}