<app-navigation></app-navigation>

<div id="list">
  <div  class="containter card-main offset-1" align="center">

    <h4 id="form_header" align="center">Room Sensor History</h4>

    <div>
      <br/>
<!--      <h5>Garden Status</h5>-->
<!--      <br/>-->
<!--      <h6>Room Status</h6>-->
      <table class="table table-striped">
        <th>Number</th>
        <th>Room Temperature</th>
        <th>Room Humidity</th>
        <th>Timestamp</th>

        <tr *ngFor="let sensor of sensors">
          <td>{{sensor.id}}</td>
          <td>{{sensor.sensorTemp}} &#8451; </td>
          <td>{{sensor.sensorHumid}} %</td>
          <td>{{sensor.dateTime}} </td>
        </tr>
      </table>

    </div>

  </div>
</div>

