<app-navigation></app-navigation>
<br/>


<div id="motionSensorList">
  <h5 id="form_header" class = "offset-1">GMS > Motion Detection History
      <img id="myImg2"  src="/assets/img/reload.png" width='18' (click)="refresh()"/>
  </h5>
  <br>

  <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
  </div>

  <div  class="container card-main offset-1" align="center">

    <h4 id="form_header" >Motion Detection History</h4>

    <div>
      <br/>
      <div>
        <table class="table table-striped">
          <tr>
            <th>Number</th>
            <th>Alert</th>
            <th>Detect Time</th>
            <th>Captured Image</th>
          </tr>
          <tr *ngFor="let sensor of motionSensors">
            <td>{{sensor.id}}</td>
            <td>{{sensor.alert}}</td>
            <td>{{sensor.detectTime}} </td>
            <td>
                <img id="myImg" [src]="sensor.pirId" width="150px" 
                        alt={{sensor.detectTime}}>


              </td>

            <!-- <td><img [src]="sensor.pirId" width="150px" height="100" alt="Nothing to display"></td> -->
          </tr>

        </table>
      </div>

    </div>

  </div>
</div>

