<app-navigation></app-navigation>

<div class="container" >
    <h4 id="form_header" align="center">Settings</h4>
    <div class="row ">
      <div class="offset-3"></div>
      <div class="col-md-6">
        <form name="form" #f="ngForm"
              (ngSubmit)="f.form.valid && addCriteria()" novalidate class="feedback-form">
          <!-- plantType -->
          <br/>
          <div class="form-group">
            <label for="plantType">Plant Type</label>
            <input type="text" id="plantType" class="form-control"name="plantType"
                   [(ngModel)]="criteria.plantType"
                   placeholder="Your name"/>
          </div>
          <!-- spaceSize -->
          <div class="form-group">
            <label for="spaceSize">Space Size</label>
            <input type="text"
                   id="spaceSize"
                   class="form-control"
                   name="spaceSize"
                   [(ngModel)]="criteria.spaceSize"
                   placeholder="Your email">
          </div>
 
  
          <br/>
          <div align="center">
            <button type="submit" class="btn btn-info">
              <i class="fa fa-user"></i>
              <span> Save Settings</span>
            </button>
          </div>
        </form>
      </div>
      <div class="offset-3"></div>
    </div>
</div>
  
