<app-navigation></app-navigation>
<br/>
<!--<div>-->
<!--  <h5>User List</h5>-->
<!--  <ul class="users">-->
<!--    <li *ngFor="let user of users" class="list-group-item list-group-item-action">-->
<!--      <span class="fa fa-user">  {{user.name}}</span> {{user.email}}-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<div id="userList">
  <h5 id="form_header" class = "offset-1">GMS > User Management</h5>
  <br>
  <div  class="container card-main offset-1" align="center">
    <h4 id="form_header" align="center">User Management</h4>
    <div>&nbsp;</div>
    <table class="table table-striped">

      <!-- <th>ID</th> -->
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
<!--      <th></th>-->

      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}} </td>
        <td>{{user.email}} </td>
        <td>{{user.phone}} </td>
        <td>{{user.role}} </td>
<!--        <td><a href="editUser?id=${user.id}">Edit</a>&nbsp;&nbsp;-->
<!--          <a href="deleteUser?id=${user.id}">Delete</a></td>-->
      </tr>

    </table>

  </div>
</div>

